@import "../../../mixins";

.skillsArticle{
  min-height:50vh;
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .skillsTile{
    line-height: 1.8em;
    background-color: rgba(0,0,0, .7);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0, .2);
    display:flex;
    margin:10px 5px 10px 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12rem;
    width:220px;
    padding:0;

    @include respond(small-phone){
      width: 280px;
    }

    @include respond(phone){
      width:500px;
    }

    @include respond(tab-port){
      width:650px;
    }

    @include respond(tab-land){
      width:800px;
      font-size: 15rem;
    }

    @include respond(big-desktop){
      width:100%;
      font-size: 15rem;
    }

    @include respond(bigger-desktop){
      font-size: 16rem;
    }

    *{
      margin:15px 35px 15px 35px;

      @include respond(tab-land){
        margin:25px 35px 25px 35px;
      }

      @include respond(bigger-desktop){
        margin:35px 45px 35px 45px;
      }
    }

    span {
      display:flex;
      margin:0;
    }
  }

  h3.skillsTile {
    font-size:2rem;
    justify-content: center;
    max-width: 200px;
  }

  *{
    margin:10px 30px 10px 30px;
  }
}