@import '../../mixins';

.homeImg{
  height: 120%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  overflow-y: scroll;

  @include respond(big-desktop){
    height: 100%;
    width: 100%;
  }
}

.imgOverlay{
  position: fixed;
  left:0;
  top:0;
  height: 120%;
  width: 100%;
  background-color: rgba(0,0,0, .4);
  z-index: 2;

  @include respond(big-desktop){
    height: 100%;
    width: 100%;
  }
}
