@import '../../mixins';

.homeImg{
  height: 1000px;
  width: 320px;
  object-fit: cover;
  position: fixed;
  top:0;
  left:0;

  @include respond(small-phone){
    width: 568px;
  }

  @include respond(phone){
    width: 768px;
  }

  @include respond(tab-port){
    width: 1024px;
  }

  @include respond(tab-land){
    height: 100%;
    width: 100%;
  }

}

.imgOverlay{
  position: fixed;
  left:0;
  top:0;
  height: 120%;
  width: 100%;
  max-width: 100%;
  background-color: rgba(0,0,0, .4);
  z-index: 2;

  @include respond(big-desktop){
    height: 100%;
    width: 100%;
  }
}
