@import "../../../mixins";

.educationArticle{
  @include aboutArticle;
  display: flex;
  justify-content: center;
}

.educationTile{
  max-width: 30vw;
  justify-content: center;
  @include tiles;
}