@import '../../mixins';

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:550px;
  overflow: hidden;

  @include respond(small-phone){
    height:600px;
  }
  @include respond(phone){
    height:700px;
  }
  @include respond(tab-port){
    height:85vh;
  }
}

.envelope{
  width:auto;
  height: 480px;
  left:50%;
  transform: translate(-20%, 0);

  @include respond(small-phone){
    height: 540px;
    transform: translate(-15%, 0);
  }
  @include respond(phone){
    height: 600px;
    transform: translate(0, 0);
  }

  @include respond(tab-port){
    height: 640px;
  }

  @include respond(tab-land){
    height: 700px;
  }

  @include respond(big-desktop){
    height: 730px;
  }
}